<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Curso AngularJS</title>
    <link rel="shorcut icon" href="assets/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">
   
    <script src="node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
    <script src="node_modules\angular\angular.min.js"></script>
    <script src="node_modules\angular-route\angular-route.min.js"></script>

    <script src="curso-app.js"></script>
    <script src="curso-router.js"></script>

    <script src="cadastro/cadastro-controller.js"></script>
    <script src="home/home-controller.js"></script>

    <script src="curso-service.js"></script>

    <script src="components/componente-alert.js"></script>

</head>

<body>
    
    <script>
        angular.module("app").controller("NavController", NavController)
        NavController.$inject = ["$location"]
        function NavController($location){
            vm = this
            vm.itensNav =[
                {titulo: "Home", class: "nav-link active"},
                {titulo: "Cadastro", class: "nav-link"}
            ]
            vm.navegar = (navegar, array)=>{
                angular.forEach(array, (item)=>{
                    if(item.titulo == navegar){
                        item.class = "nav-link active"
                    }else{
                        item.class = "nav-link"
                    }
                })

               $location.path(navegar)
            }
        }
    </script>
    <div class="container" style="margin-top: 25px;">
        <nav ng-controller="NavController as vm">
            <ul class="nav nav-tabs">    <!--função do angular que repete conforme no array-->
                <li class="nav-item" ng-repeat="item in vm.itensNav">
                    <a ng-class="item.class" class="nav-link active" ng-click="vm.navegar(item.titulo, vm.itensNav)">{{item.titulo}}</a>
                </li>
            </ul>
        </nav>
        <div ng-view></div> <!--o Simple application esta sendo renderizado aqui-->
    </div>
</body>
</html>