<!--                   ng-init: essa tag chama a função quando carrega a tela-->
<div class="container" ng-init="vm.init()">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">RG</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="cliente in vm.clientes">
            <th scope="row">{{cliente.id}}</th>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.rg}}</td>
            <td><button type="button" class="btn btn-outline-secondary" ng-click="vm.editar(cliente.id)">Editar</button></td>
            <td><button type="button" class="btn btn-outline-dark" ng-click="vm.deletar(cliente.id)">Apagar</button></td>
          </tr>
          
        </tbody>
      </table>
</div>
    